<html>
    <head><h1>Admission form</h1></head>
    <body>
        <form action="/updateUser/{{data.id}}" method="POST">
            {%csrf_token%}
            <div class="container">
                <label for="name"><b>Name:</b><br></label>
                <input type="text" placeholder="Enter your name" name="name" value="{{data.name}}" required><br><br>
                <label for="email"><b>Email:</b><br></label>
                <input type="text" placeholder="Enter your Email ID" name="email" value="{{data.email}}" required><br><br>
                <label for="address"><b>Address:</b><br></label>
                <textarea rows="10" name="address">
                    {{data.address}}
                </textarea><br><br>
                <label for="gender"><b>Gender:</b></label><br>

                {%ifequal "male" data.gender %}
                <input  type="radio" id="male" value="male"  name="gender" checked>
                {%else %}
                <input  type="radio" id="male" value="male" name="gender">
                {% endifequal %}

                <label for="gender"><b>Male</b></label><br>

              


                {%ifequal "female" data.gender %}
                <input  type="radio" id="female" value="female" name="gender" checked>
                {%else %}
                <input  type="radio" id="female" value="female" name="gender">
                {% endifequal %}

                <label for="gender"><b>Female</b></label><br>

                {%ifequal "other" data.gender %}
                <input  type="radio" id="other" value="other" name="gender" checked>
                {%else %}
                <input  type="radio" id="other" value="other" name="gender">
                {% endifequal %}

                <label for="gender"><b>Others</b></label><br>

                {%for hobbie in hobbies%}
                

                    {% if hobbie == "cricket" or hobbie == "football" or hobbie == "hockey"  %}
                    <input type="checkbox" name="hobbies[]" value="{{hobbie}}" checked="checked">{{hobbie}}
                    {% endif %}

                {%endfor%}

                {%for hobbie in remaining_games%}
                

                    {% if hobbie == "cricket" or hobbie == "football" or hobbie == "hockey"  %}
                    <input type="checkbox" name="hobbies[]" value="{{hobbie}}" >{{hobbie}}
                    {% endif %}

                {%endfor%}




                <!-- <label for="hobbies"><b>Hobbies:</b></label><br>
                <input type="checkbox" name="hobbies[]" id="cricket">
                <label for="Cricket">Cricket<br></label>
                <input type="checkbox" id="football" name="hobbies[]" value="{{data.hobbies}}>
                <label for="football">Football<br></label>
                <input type="checkbox" id="hockey" name="hobbies[]" value="{{data.hobbies}}>
                <label for="hockey">Hockey<br></label><br> -->
                <label for="cities"><b>City:</b></label>
                <select id="cities" name="cities">

                    {%for city in cities%}
                    {{city}}
                    {%ifequal data.city city%}
                    <option value="{{city}}" selected>{{city}}</option>
                    {%else%}
                    <option value="{{city}}">{{city}}</option>
                    {%endifequal%}
                    {%endfor%}
                <!-- <option value="delhi" selected>Delhi</option>
                <option value="pune">Pune</option> -->
                </select><br><br>
                <label for="birthday"><b>Birthday:</b></label>
                <input type="date" id="birthday" value="{{date|date:"Y-m-d" }}" name="birthday"><br><br>
                <label for="psw"><b>Password:</b></label>
                <input type="password" placeholder="Enter Password" name="psw" value="{{data.password}}" required><br><br>
                <button type="submit" class="registerbtn">Register</button>
                




            </div>

        </form>

    </body>
</html>